<link rel="stylesheet" href="/static/style.css" type="text/css">


<div class="login">
    <div class="login-screen">
        <div class="page-title">
            <h1>ScheduleGenerator v1.0</h1>
        </div>

        <div class="text-form">

            <div class="instructions">
                Please proceed to <a href="https://uwaterloo.ca/api/register">the Waterloo website</a> to request an API token.
            </div>
            <br>
            <br>
            <br>
            <br>

            <div class="input-token">
                <input type="password" class="login-field" value="" placeholder="token" name="password">
                <label class="login-field-icon fui-user" for="login-user"></label>

            <input type="submit" value="Continue" class="btn btn-primary btn-large btn-block" >
            <br>
        </div>
    </div>
</div>


