<link rel="stylesheet" href="/static/style.css" type="text/css">

<form action="/schedule" method="POST">
    <div class="login">
        <div class="login-screen">
            <div class="page-title">
                <h1>ScheduleGenerator v1.0</h1>
            </div>

            <div class="text-form">

                <div class="instructions">
                    Enter the courses you would like in your schedule (e.g. CS135).
                </div>
                <br>
                <br>
                <br>
                <br>

                <div class="input-token">
				    <input type="text" class="login-field" value="" placeholder="Course 1" name="username">
				    <label class="login-field-icon fui-user" for="login-name"></label>
				</div>
                <div class="input-token">
				    <input type="text" class="login-field" value="" placeholder="Course 2" name="username">
				    <label class="login-field-icon fui-user" for="login-name"></label>
				</div>

                <div class="input-token">
				    <input type="text" class="login-field" value="" placeholder="Course 3" name="username">
				    <label class="login-field-icon fui-user" for="login-name"></label>
				</div>

                <div class="input-token">
				    <input type="text" class="login-field" value="" placeholder="Course 4" name="username">
				    <label class="login-field-icon fui-user" for="login-name"></label>
				</div>

                <div class="input-token">
				    <input type="text" class="login-field" value="" placeholder="Course 5" name="username">
				    <label class="login-field-icon fui-user" for="login-name"></label>
				</div>

                <div class="input-token">
				    <input type="text" class="login-field" value="" placeholder="Course 6" name="username">
				    <label class="login-field-icon fui-user" for="login-name"></label>
				</div>

                <div class="input-token">
				    <input type="text" class="login-field" value="" placeholder="Course 7" name="username">
				    <label class="login-field-icon fui-user" for="login-name"></label>
				</div>

                <input type="submit" value="Continue" class="btn btn-primary btn-large btn-block" >
                <br>
            </div>
        </div>
    </div>
</form>


