<link rel="stylesheet" href="/static/style.css" type="text/css">

<style>
.container{
    display: flex;
}
.course-num{
    width: 150px;
}
.course{
    flex-grow: 1;
}
</style>

<script>
token = {{ token }}

</script>

<form action="/schedule" method="POST">
    <div class="login">
        <div class="login-screen">
            <div class="page-title">
                <h1>ScheduleGenerator v1.0</h1>
                <h2>Your API token is: {{ token }}</h2>
            </div>

            <div class="text-form">

                <div class="instructions">
                    Enter the courses you would like in your schedule (e.g. CS135).
                </div>
                <br>
                <br>
                <br>
                <br>
                <form method="POST" action="/schedule">
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="container">
                        <div class="input-token">
                            <input class="login-field course" value="" placeholder="Subject 1" name="course1">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>

                        <div class="input-token">
                            <input class="login-field course-num" value="" placeholder="Course Number 1" name="course1num">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                    </div>

                    <div class="container">
                        <div class="input-token">
                            <input class="login-field course" value="" placeholder="Subject 2" name="course2">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>

                        <div class="input-token">
                            <input class="login-field course-num" value="" placeholder="Course Number 2" name="course2num">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                    </div>

                    <div class="container">
                        <div class="input-token">
                            <input class="login-field course" value="" placeholder="Subject 3" name="course3">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>

                        <div class="input-token">
                            <input class="login-field course-num" value="" placeholder="Course Number 3" name="course3num">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                    </div>

                    <div class="container">
                        <div class="input-token">
                            <input class="login-field course" value="" placeholder="Subject 4" name="course4">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>

                        <div class="input-token">
                            <input class="login-field course-num" value="" placeholder="Course Number 4" name="course4num">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                    </div>

                    <div class="container">
                        <div class="input-token">
                            <input class="login-field course" value="" placeholder="Subject 5" name="course5">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>

                        <div class="input-token">
                            <input class="login-field course-num" value="" placeholder="Course Number 5" name="course5num">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                    </div>

                    <div class="container">
                        <div class="input-token">
                            <input class="login-field course" value="" placeholder="Subject 6" name="course6">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>

                        <div class="input-token">
                            <input class="login-field course-num" value="" placeholder="Course Number 6" name="course6num">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                    </div>

                    <div class="container">
                        <div class="input-token">
                            <input class="login-field course" value="" placeholder="Subject 7" name="course7">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>

                        <div class="input-token">
                            <input class="login-field course-num" value="" placeholder="Course Number 7" name="course7num">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                    </div>

                    <div class="input-token">
                        Filtered: <input type="checkbox" value="12:00" name="filter">
                    </div>

                    <input type="submit" value="Continue" class="btn btn-primary btn-large btn-block" >

                    <div>
                        <select id="course">
                                {% for course in courses %}
                                    <option value={{ course }}>{{ course }}</option>
                                {% endfor %}

                        </select>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</form>


